:root {
    --calcheight: 8.125rem;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  color: #fff;
  font-size: 1.25rem;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
.header, footer {  
    width: 100%;
    background-color: #000;
    margin: 0 auto;
  }
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3125rem 1.25rem;
}
.logo {
  width: 3.125rem;
  height: 3.125rem;
  background: url(assets/svg/logo.svg);
  background-size: cover;
  transition: 500ms;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.nav-item {
  margin: 0 1.25rem;
  transition: 500ms;
}
.nav-item:hover, .footer-data a:hover{
  color: #bdae82;
  transition: 500ms;
}
.player {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - var(--calcheight)); 
  background: url(assets/img/solovey.jpg);
  background-size: cover;
}
.playpause {
  width: 6.125rem;
  height: 6.125rem;
  background: url(assets/svg/play.svg);
  background-size: cover;
  border: none;
  transition: 500ms;
}
.footer-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-data p {
  margin: 0 1.25rem;
}
.footer-data p:first-child {
  margin: 0;
}
.footer-data a {
  text-decoration: none;
  color: #fff;
  transition: 500ms;
}
.school-logo{
  width: 8.125rem;
  height: 3.125rem;
  background: url(assets/svg/rss.svg);
  background-size: cover;
  transition: 500ms;
}
.logo:hover, .school-logo:hover, .playpause:hover{
  filter: invert(50%);
}